# Preserve Nothing's MT6886 DTBO table metadata.
  page_size=2048
  version=0

mediatek/k6886v1_64.dtbo
  id=0
  rev=0

mediatek/k6886v1_64_1.dtbo
  id=1
  rev=0

mediatek/k6886v1_64_2.dtbo
  id=2
  rev=0
